[submodule "submodules/MinHook"]
	path = submodules/MinHook
	url = https://github.com/TsudaKageyu/minhook
[submodule "submodules/gd"]
	path = submodules/gd
	url = https://github.com/poweredbypie/gd.h
[submodule "submodules/nfd"]
	path = submodules/nfd
	url = https://github.com/mlabbe/nativefiledialog
[submodule "submodules/zipper"]
	path = submodules/zipper
	url = https://github.com/sebastiandev/zipper
